<div class="container">
  <h2>Lista de Productos</h2>
  <a routerLink="/dashboard/products/create" class="btn btn-primary mb-3"
    >Crear Producto</a
  >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <a
            [routerLink]="['/dashboard/products/edit', product.id]"
            class="btn btn-warning btn-sm"
            >Editar</a
          >
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteProduct(product.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
